<!DOCTYPE html> 
<html> 
    <head> 
    <meta charset="utf-8" /> 
    <title>信息录入</title> 
    </head> 
    <body>
        {{ info }}
        <h2>车辆信息录入表单</h2>
        <form action="" method="post">
            <p>车牌号：<input type="text" name="carnumber"></p>
            <p>车主姓名：<input type="text" name="name"></p>
            <p><input type="submit" value="提交"></p>
        </form>
        <br />
        <h2>当前库存车辆信息</h2>
        <table>
            <thead>
                <th>ID</th>
                <th>车牌号</th>
                <th>车主</th>
            </thead>
            <tbody>
                {% for car in carinfo %}
                    <tr>
                        <td align="center">{{ car[0] }}</td>
                        <td align="center">{{ car[1] }}</td>
                        <td align="center">{{ car[2] }}</td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
    </body> 
</html>